body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:64px;
  width:667px;
  height:375px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
