body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:27px;
  width:230px;
  height:375px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:28px;
  width:230px;
  height:41px;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#996633;
  text-align:center;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:40px;
  width:230px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#996633;
  text-align:center;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:104px;
  width:106px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#996633;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:2px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:156px;
  width:216px;
  height:1px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:129px;
  width:194px;
  height:25px;
}
#u622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#F6CA73;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u622_ann {
  border-width:0px;
  position:absolute;
  left:236px;
  top:125px;
  width:1px;
  height:1px;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:361px;
  width:30px;
  height:30px;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_ann {
  border-width:0px;
  position:absolute;
  left:240px;
  top:357px;
  width:1px;
  height:1px;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:361px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_ann {
  border-width:0px;
  position:absolute;
  left:74px;
  top:372px;
  width:1px;
  height:1px;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:97px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:192px;
  width:194px;
  height:46px;
  opacity:0.5;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:190px;
  word-wrap:break-word;
}
#u625_ann {
  border-width:0px;
  position:absolute;
  left:236px;
  top:188px;
  width:1px;
  height:1px;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:97px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:257px;
  width:194px;
  height:46px;
  opacity:0.5;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:190px;
  word-wrap:break-word;
}
#u626_ann {
  border-width:0px;
  position:absolute;
  left:236px;
  top:253px;
  width:1px;
  height:1px;
}
