body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:775px;
  width:529px;
  height:300px;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u0_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:1065px;
  width:1px;
  height:1px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:405px;
  width:170px;
  height:300px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u1_ref {
  border-width:0px;
  position:absolute;
  left:223px;
  top:695px;
  width:1px;
  height:1px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:405px;
  width:170px;
  height:300px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u2_ref {
  border-width:0px;
  position:absolute;
  left:400px;
  top:695px;
  width:1px;
  height:1px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:405px;
  width:170px;
  height:300px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:300px;
}
#u3_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:695px;
  width:1px;
  height:1px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:52px;
  width:190px;
  height:300px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:300px;
}
#u4_ref {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:342px;
  width:1px;
  height:1px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:52px;
  width:185px;
  height:300px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u5_ref {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:342px;
  width:1px;
  height:1px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:405px;
  width:185px;
  height:300px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u6_ref {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:695px;
  width:1px;
  height:1px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:52px;
  width:529px;
  height:300px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u7_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:342px;
  width:1px;
  height:1px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:405px;
  width:185px;
  height:300px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u8_ref {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:695px;
  width:1px;
  height:1px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:775px;
  width:185px;
  height:300px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u9_ref {
  border-width:0px;
  position:absolute;
  left:1331px;
  top:1065px;
  width:1px;
  height:1px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:775px;
  width:185px;
  height:300px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u10_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:1065px;
  width:1px;
  height:1px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:775px;
  width:185px;
  height:300px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u11_ref {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:1065px;
  width:1px;
  height:1px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:1123px;
  width:185px;
  height:300px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u12_ref {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:1413px;
  width:1px;
  height:1px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1123px;
  width:185px;
  height:300px;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u13_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:1413px;
  width:1px;
  height:1px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:1469px;
  width:529px;
  height:300px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u14_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:1759px;
  width:1px;
  height:1px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:1129px;
  width:529px;
  height:300px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u15_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:1419px;
  width:1px;
  height:1px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:2191px;
  width:529px;
  height:304px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:304px;
}
#u16_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:2485px;
  width:1px;
  height:1px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:793px;
  width:0px;
  height:0px;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-76px;
  width:8px;
  height:80px;
}
#u17_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-76px;
  width:90px;
  height:8px;
}
#u17_seg3 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-595px;
  width:8px;
  height:527px;
}
#u17_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-595px;
  width:48px;
  height:8px;
}
#u17_seg5 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-601px;
  width:20px;
  height:20px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-284px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:809px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:97px;
}
#u18_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:85px;
  width:141px;
  height:8px;
}
#u18_seg3 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:-258px;
  width:8px;
  height:351px;
}
#u18_seg4 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:-258px;
  width:32px;
  height:8px;
}
#u18_seg5 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-264px;
  width:20px;
  height:20px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:85px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:925px;
  width:0px;
  height:0px;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-374px;
  width:8px;
  height:378px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-374px;
  width:15px;
  height:8px;
}
#u19_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-380px;
  width:20px;
  height:20px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:664px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:113px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-113px;
  width:149px;
  height:8px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-119px;
  width:20px;
  height:20px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-117px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:678px;
  width:0px;
  height:0px;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:52px;
}
#u21_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:40px;
  width:228px;
  height:8px;
}
#u21_seg3 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-127px;
  width:8px;
  height:175px;
}
#u21_seg4 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-127px;
  width:14px;
  height:8px;
}
#u21_seg5 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:-133px;
  width:20px;
  height:20px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:126px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1058px;
  width:0px;
  height:0px;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:50px;
}
#u22_seg2 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:38px;
  width:349px;
  height:8px;
}
#u22_seg3 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:38px;
  width:8px;
  height:187px;
}
#u22_seg4 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:217px;
  width:13px;
  height:8px;
}
#u22_seg5 {
  border-width:0px;
  position:absolute;
  left:-345px;
  top:211px;
  width:20px;
  height:20px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-290px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:810px;
  width:0px;
  height:0px;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:214px;
}
#u23_seg2 {
  border-width:0px;
  position:absolute;
  left:-418px;
  top:202px;
  width:422px;
  height:8px;
}
#u23_seg3 {
  border-width:0px;
  position:absolute;
  left:-418px;
  top:202px;
  width:8px;
  height:611px;
}
#u23_seg4 {
  border-width:0px;
  position:absolute;
  left:-418px;
  top:805px;
  width:29px;
  height:8px;
}
#u23_seg5 {
  border-width:0px;
  position:absolute;
  left:-404px;
  top:799px;
  width:20px;
  height:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-464px;
  top:202px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:808px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-4px;
  width:8px;
  height:170px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:158px;
  width:374px;
  height:8px;
}
#u24_seg3 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:158px;
  width:8px;
  height:1381px;
}
#u24_seg4 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:1531px;
  width:60px;
  height:8px;
}
#u24_seg5 {
  border-width:0px;
  position:absolute;
  left:-326px;
  top:1525px;
  width:20px;
  height:20px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-417px;
  top:604px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:512px;
  width:0px;
  height:0px;
}
#u25_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u25_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-135px;
  width:8px;
  height:139px;
}
#u25_seg2 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:-135px;
  width:382px;
  height:8px;
}
#u25_seg3 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:-314px;
  width:8px;
  height:187px;
}
#u25_seg4 {
  border-width:0px;
  position:absolute;
  left:-343px;
  top:-314px;
  width:24px;
  height:8px;
}
#u25_seg5 {
  border-width:0px;
  position:absolute;
  left:-334px;
  top:-320px;
  width:20px;
  height:20px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:-139px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:52px;
  width:185px;
  height:300px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u26_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:342px;
  width:1px;
  height:1px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:24px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:352px;
  width:185px;
  height:24px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:181px;
  word-wrap:break-word;
}
#u27_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:366px;
  width:1px;
  height:1px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:2191px;
  width:529px;
  height:304px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:304px;
}
#u28_ref {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:2485px;
  width:1px;
  height:1px;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:27px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:2495px;
  width:207px;
  height:27px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  word-wrap:break-word;
}
#u29_ref {
  border-width:0px;
  position:absolute;
  left:994px;
  top:2512px;
  width:1px;
  height:1px;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:23px;
  background:-webkit-linear-gradient(270deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1075px;
  width:185px;
  height:23px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:181px;
  word-wrap:break-word;
}
#u30_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:1088px;
  width:1px;
  height:1px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:405px;
  width:185px;
  height:300px;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:300px;
}
#u31_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:695px;
  width:1px;
  height:1px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:705px;
  width:185px;
  height:25px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:181px;
  word-wrap:break-word;
}
#u32_ref {
  border-width:0px;
  position:absolute;
  left:834px;
  top:720px;
  width:1px;
  height:1px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:791px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-76px;
  width:8px;
  height:76px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-76px;
  width:88px;
  height:8px;
}
#u33_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-760px;
  width:8px;
  height:692px;
}
#u33_seg3 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-760px;
  width:290px;
  height:8px;
}
#u33_seg4 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-760px;
  width:8px;
  height:175px;
}
#u33_seg5 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-593px;
  width:17px;
  height:8px;
}
#u33_seg6 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:-599px;
  width:20px;
  height:20px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-577px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:813px;
  width:0px;
  height:0px;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:161px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:153px;
  width:375px;
  height:8px;
}
#u34_seg2 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:153px;
  width:8px;
  height:1217px;
}
#u34_seg3 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:1362px;
  width:621px;
  height:8px;
}
#u34_seg4 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1362px;
  width:8px;
  height:172px;
}
#u34_seg5 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1526px;
  width:36px;
  height:8px;
}
#u34_seg6 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:1520px;
  width:20px;
  height:20px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-417px;
  top:896px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:810px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:7px;
  height:8px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:8px;
  height:123px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:111px;
  width:165px;
  height:8px;
}
#u35_seg3 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:105px;
  width:20px;
  height:20px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1469px;
  width:529px;
  height:300px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u36_ref {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:1759px;
  width:1px;
  height:1px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:104px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:70px;
  height:8px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-75px;
  width:8px;
  height:80px;
}
#u37_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-75px;
  width:120px;
  height:8px;
}
#u37_seg4 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-75px;
  width:8px;
  height:23px;
}
#u37_seg5 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:-67px;
  width:20px;
  height:20px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:130px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u38_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-115px;
  width:8px;
  height:119px;
}
#u38_seg2 {
  border-width:0px;
  position:absolute;
  left:-1029px;
  top:-115px;
  width:1079px;
  height:8px;
}
#u38_seg3 {
  border-width:0px;
  position:absolute;
  left:-1029px;
  top:-115px;
  width:8px;
  height:191px;
}
#u38_seg4 {
  border-width:0px;
  position:absolute;
  left:-1029px;
  top:68px;
  width:24px;
  height:8px;
}
#u38_seg5 {
  border-width:0px;
  position:absolute;
  left:-1020px;
  top:62px;
  width:20px;
  height:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-562px;
  top:-119px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:162px;
  width:0px;
  height:0px;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:241px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:229px;
  width:148px;
  height:8px;
}
#u39_seg3 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:229px;
  width:8px;
  height:14px;
}
#u39_seg4 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:228px;
  width:20px;
  height:20px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:194px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-4px;
  width:8px;
  height:369px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:357px;
  width:29px;
  height:8px;
}
#u40_seg3 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:351px;
  width:20px;
  height:20px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:156px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:286px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:637px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:625px;
  width:44px;
  height:8px;
}
#u41_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:619px;
  width:20px;
  height:20px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:308px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:1061px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:197px;
  height:8px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:43px;
  width:8px;
  height:19px;
}
#u42_seg3 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:47px;
  width:20px;
  height:20px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:1059px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:76px;
  height:8px;
}
#u43_seg2 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:43px;
  width:8px;
  height:21px;
}
#u43_seg3 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:49px;
  width:20px;
  height:20px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:828px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-4px;
  width:8px;
  height:105px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:93px;
  width:31px;
  height:8px;
}
#u44_seg3 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:87px;
  width:20px;
  height:20px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:1px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:810px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:304px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:296px;
  width:178px;
  height:8px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:296px;
  width:8px;
  height:517px;
}
#u45_seg3 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:805px;
  width:34px;
  height:8px;
}
#u45_seg4 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:799px;
  width:20px;
  height:20px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:326px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:1769px;
  width:207px;
  height:30px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:203px;
  word-wrap:break-word;
}
#u46_ref {
  border-width:0px;
  position:absolute;
  left:994px;
  top:1789px;
  width:1px;
  height:1px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:872px;
  width:97px;
  height:80px;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:80px;
}
#u47_ref {
  border-width:0px;
  position:absolute;
  left:364px;
  top:942px;
  width:1px;
  height:1px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:30px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:842px;
  width:15px;
  height:20px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:852px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:8px;
  height:68px;
}
#u49_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:56px;
  width:19px;
  height:8px;
}
#u49_seg3 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:50px;
  width:20px;
  height:20px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:811px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:188px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:176px;
  width:401px;
  height:8px;
}
#u50_seg3 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:176px;
  width:8px;
  height:996px;
}
#u50_seg4 {
  border-width:0px;
  position:absolute;
  left:-396px;
  top:1164px;
  width:45px;
  height:8px;
}
#u50_seg5 {
  border-width:0px;
  position:absolute;
  left:-366px;
  top:1158px;
  width:20px;
  height:20px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:-442px;
  top:400px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:1829px;
  width:529px;
  height:300px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u51_ref {
  border-width:0px;
  position:absolute;
  left:589px;
  top:2119px;
  width:1px;
  height:1px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:1830px;
  width:529px;
  height:300px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:300px;
}
#u52_ref {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:2120px;
  width:1px;
  height:1px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:809px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:191px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:179px;
  width:402px;
  height:8px;
}
#u53_seg3 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:179px;
  width:8px;
  height:830px;
}
#u53_seg4 {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:1001px;
  width:628px;
  height:8px;
}
#u53_seg5 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1001px;
  width:8px;
  height:174px;
}
#u53_seg6 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1167px;
  width:14px;
  height:8px;
}
#u53_seg7 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1161px;
  width:20px;
  height:20px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-444px;
  top:696px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:2130px;
  width:220px;
  height:25px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u54_ref {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:2145px;
  width:1px;
  height:1px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1927px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-312px;
  width:8px;
  height:316px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-312px;
  width:20px;
  height:8px;
}
#u55_seg3 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-318px;
  width:20px;
  height:20px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:1917px;
  width:15px;
  height:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:1769px;
  width:196px;
  height:30px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:192px;
  word-wrap:break-word;
}
#u57_ref {
  border-width:0px;
  position:absolute;
  left:439px;
  top:1789px;
  width:1px;
  height:1px;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:27px;
  background:-webkit-linear-gradient(270deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:2126px;
  width:196px;
  height:27px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
#u58_ref {
  border-width:0px;
  position:absolute;
  left:439px;
  top:2143px;
  width:1px;
  height:1px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:27px;
  background:-webkit-linear-gradient(270deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:2495px;
  width:196px;
  height:27px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:192px;
  word-wrap:break-word;
}
#u59_ref {
  border-width:0px;
  position:absolute;
  left:439px;
  top:2512px;
  width:1px;
  height:1px;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:24px;
  background:-webkit-linear-gradient(270deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  background:linear-gradient(180deg, rgba(248, 235, 140, 1) 0%, rgba(248, 235, 140, 1) 0%, rgba(255, 126, 12, 1) 100%, rgba(255, 126, 12, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:352px;
  width:190px;
  height:24px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:186px;
  word-wrap:break-word;
}
#u60_ref {
  border-width:0px;
  position:absolute;
  left:1089px;
  top:366px;
  width:1px;
  height:1px;
}
