body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:333px;
  background:inherit;
  background-color:rgba(40, 101, 169, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:18px;
  width:190px;
  height:333px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:318px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:24px;
  width:174px;
  height:318px;
  opacity:0.32;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:306px;
  width:30px;
  height:30px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_ann {
  border-width:0px;
  position:absolute;
  left:198px;
  top:302px;
  width:1px;
  height:1px;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:306px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_ann {
  border-width:0px;
  position:absolute;
  left:72px;
  top:317px;
  width:1px;
  height:1px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:83px;
  width:150px;
  height:25px;
}
#u644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background-color:#2865A9;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#F6CA73;
  text-align:left;
}
#u644_ann {
  border-width:0px;
  position:absolute;
  left:193px;
  top:79px;
  width:1px;
  height:1px;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F6CA73;
  text-align:center;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:32px;
  width:119px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F6CA73;
  text-align:center;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:119px;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:97px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:144px;
  width:166px;
  height:35px;
  opacity:0.5;
  color:#FFFFFF;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u646_ann {
  border-width:0px;
  position:absolute;
  left:201px;
  top:140px;
  width:1px;
  height:1px;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:97px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:190px;
  width:166px;
  height:35px;
  opacity:0.5;
  color:#FFFFFF;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u647_ann {
  border-width:0px;
  position:absolute;
  left:201px;
  top:186px;
  width:1px;
  height:1px;
}
