body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:40px;
  width:679px;
  height:382px;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:382px;
}
#u2443_ref {
  border-width:0px;
  position:absolute;
  left:773px;
  top:412px;
  width:1px;
  height:1px;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:368px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:47px;
  width:661px;
  height:368px;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:44px;
  width:667px;
  height:375px;
  opacity:0.7;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:150px;
  width:599px;
  height:187px;
  overflow:hidden;
}
#u2446_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:187px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2446_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:113px;
  height:150px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:13px;
  width:113px;
  height:150px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:13px;
  width:113px;
  height:150px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:13px;
  width:113px;
  height:150px;
  font-size:25px;
  color:#FFFFFF;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:29px;
  background:inherit;
  background-color:rgba(106, 208, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:113px;
  width:81px;
  height:29px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:13px;
  width:113px;
  height:150px;
  font-size:25px;
  color:#FFFFFF;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:-webkit-linear-gradient(270deg, rgba(111, 199, 248, 1) 0%, rgba(111, 199, 248, 1) 0%, rgba(75, 193, 248, 1) 100%, rgba(75, 193, 248, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 199, 248, 1) 0%, rgba(111, 199, 248, 1) 0%, rgba(75, 193, 248, 1) 100%, rgba(75, 193, 248, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 199, 248, 1) 0%, rgba(111, 199, 248, 1) 0%, rgba(75, 193, 248, 1) 100%, rgba(75, 193, 248, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:115px;
  width:82px;
  height:29px;
  font-family:'楷体 Bold', '楷体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
  text-align:center;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:13px;
  width:113px;
  height:150px;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:13px;
  width:113px;
  height:150px;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:150px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:13px;
  width:113px;
  height:150px;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:55px;
  width:29px;
  height:30px;
  color:#FFFFFF;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:83px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
