body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:685px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:20px;
  width:667px;
  height:375px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
