body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:699px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:32px;
  width:667px;
  height:375px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:147px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:106px;
  width:315px;
  height:147px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:281px;
  width:170px;
  height:51px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:342px;
  width:85px;
  height:17px;
  font-family:'Verdana Negreta', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:341px;
  width:20px;
  height:20px;
}
#u58_img.mouseDown {
}
#u58.mouseDown {
}
#u58_img.selected {
}
#u58.selected {
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
