body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:375px;
}
#u2572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:8px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u2573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:8px;
  width:25px;
  height:15px;
}
#u2574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:8px;
  width:20px;
  height:15px;
}
#u2575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:40px;
  height:38px;
}
#u2576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:7px;
  width:40px;
  height:38px;
}
#u2577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:238px;
  width:40px;
  height:38px;
}
#u2578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:75px;
  width:65px;
  height:65px;
}
#u2579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:29px;
  width:65px;
  height:65px;
}
#u2580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:75px;
  width:65px;
  height:65px;
}
#u2581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-top:0px;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1px;
  width:337px;
  height:28px;
}
#u2582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:157px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:155px;
  width:20px;
  height:20px;
}
#u2585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:69px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:67px;
  width:20px;
  height:20px;
}
#u2588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:350px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:348px;
  width:20px;
  height:20px;
}
#u2591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(166, 190, 203, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:157px;
  width:74px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FDEA73;
  text-align:right;
}
#u2593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:155px;
  width:20px;
  height:20px;
}
#u2594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:140px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:140px;
  width:37px;
  height:11px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:351px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:46px;
  width:37px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FDEA73;
}
#u2598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:5px;
  width:301px;
  height:16px;
  color:#FFFFFF;
}
#u2599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:255px;
  width:73px;
  height:90px;
}
#u2600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:255px;
  width:73px;
  height:90px;
}
#u2601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:255px;
  width:73px;
  height:90px;
}
#u2602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:255px;
  width:73px;
  height:90px;
}
#u2603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:255px;
  width:73px;
  height:90px;
}
#u2604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:255px;
  width:73px;
  height:90px;
}
#u2605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:255px;
  width:73px;
  height:90px;
}
#u2606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:255px;
  width:73px;
  height:90px;
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:255px;
  width:73px;
  height:90px;
}
#u2608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:255px;
  width:73px;
  height:90px;
}
#u2609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:255px;
  width:73px;
  height:90px;
}
#u2610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:255px;
  width:73px;
  height:90px;
}
#u2611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:255px;
  width:73px;
  height:90px;
}
#u2612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:255px;
  width:73px;
  height:90px;
}
#u2613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:255px;
  width:73px;
  height:90px;
}
#u2614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:255px;
  width:73px;
  height:90px;
}
#u2615_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:255px;
  width:73px;
  height:90px;
}
#u2616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:255px;
  width:73px;
  height:90px;
}
#u2617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:255px;
  width:73px;
  height:90px;
}
#u2618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:255px;
  width:73px;
  height:90px;
}
#u2619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:90px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:255px;
  width:73px;
  height:90px;
}
#u2620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:305px;
  width:65px;
  height:65px;
}
#u2621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622 {
  position:absolute;
  left:433px;
  top:30px;
}
#u2622_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  background-image:none;
}
#u2622_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  opacity:0.7;
}
#u2624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:181px;
  height:21px;
  opacity:0.7;
}
#u2625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:3px;
  width:1px;
  height:15px;
}
#u2626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:3px;
  width:1px;
  height:15px;
}
#u2627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:3px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:3px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:3px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2622_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  visibility:hidden;
  background-image:none;
}
#u2622_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
  opacity:0.7;
}
#u2634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:21px;
  background:inherit;
  background-color:rgba(13, 74, 105, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:181px;
  height:21px;
  opacity:0.7;
}
#u2635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:3px;
  width:1px;
  height:15px;
}
#u2636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:3px;
  width:1px;
  height:15px;
}
#u2637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:3px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:3px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u2641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:3px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:2px;
  width:17px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FDEA73;
}
#u2642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-2px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u2643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:321px;
  width:21px;
  height:23px;
  font-size:10px;
}
#u2645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:331px;
  width:11px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:322px;
  width:21px;
  height:23px;
  font-size:10px;
}
#u2648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:332px;
  width:11px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:322px;
  width:21px;
  height:23px;
  font-size:10px;
}
#u2651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:332px;
  width:11px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:321px;
  width:21px;
  height:23px;
  font-size:10px;
}
#u2654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:331px;
  width:11px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:321px;
  width:21px;
  height:23px;
  font-size:10px;
}
#u2657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:331px;
  width:11px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:321px;
  width:21px;
  height:23px;
  font-size:10px;
}
#u2660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:331px;
  width:11px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:278px;
  width:40px;
  height:38px;
}
#u2662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:108px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:137px;
  width:507px;
  height:108px;
  opacity:0.5;
}
#u2664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:188px;
  width:60px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:148px;
  width:60px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2666_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:10px;
  width:23px;
  word-wrap:break-word;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:154px;
  width:20px;
  height:20px;
}
#u2667_img.mouseDown {
}
#u2667.mouseDown {
}
#u2667_img.selected {
}
#u2667.selected {
}
#u2667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:14px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:228px;
  width:507px;
  height:14px;
}
#u2668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:12px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:229px;
  width:367px;
  height:12px;
}
#u2669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2670_img.mouseOver {
}
#u2670.mouseOver {
}
#u2670_img.mouseDown {
  left:-40px;
  top:-40px;
  width:140px;
  height:125px;
}
#u2670.mouseDown {
}
#u2670_img.selected {
  width:60px;
  height:45px;
}
#u2670.selected {
}
#u2670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:148px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:188px;
  width:50px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:27px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CC0000;
}
#u2686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
